<section class="product-section" id="category3">

    <div class="row">

        <h2>
            Vegan Cakes
        </h2>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img alt="VEGAN AMERICAN BROWNIES" src="../../../../assets/Images/vegan-american-brownies-1.png" />
                <h2>
                    VEGAN AMERICAN BROWNIES
                </h2>


            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="VEGAN MANGO & PISTACHIO CAKE" src="../../../../assets/Images/vegan-mango-and-pistachio-cake.png" />
                <h2>
                    VEGAN MANGO & PISTACHIO CAKE </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="VEGAN PUMPKIN & PEANUT CAKE" src="../../../../assets/Images/vegan-pumpkin-peanut-cake.png" />
                <h2>
                    VEGAN PUMPKIN & PEANUT CAKE
                </h2>

            </div>
        </div>

    </div>
</section>

<div class="btn-group">
    <button class="zorar btn-primary" type="button" onclick="scrollToTop()">
        Scroll to Top
</button>
</div>

