#aboutt {
    color: #27374D;
    font-size: 60px;
    font-family: 'Cinzel', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}

#aboutpage {
    background-color: #F4E7CF;
}


.story {
    color: #B8692B;
    font-size: 18px;
    width: 70%;
    margin-left: 220px;
    text-align: left;
    line-height: 35px;
}

.product-section .row {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-section {
    padding: 40px 0;
    text-align: center;
}

.product-section h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Cinzel", sans-serif;
    text-align: center;
    color: #488686;
}

