<section id="aboutpage" class="product-section">

    <div class="row">
        <h1 id="aboutt">
            About Us
        </h1>



    </div>

    <p class="story">
        Sugar Spell is a cozy cake cafe born from Habiba Yasser's mastery of the kitchen. Her awe-inspiring carrot cake took home the trophy at a MasterChef competition, launching her sweet success with Sugar Spell, a beloved spot for decadent desserts and warm
        hospitality. The legendary carrot cake reigns supreme on the menu, reflecting Habiba's passion, expertise, and sugary triumph.
    </p>
</section>
