#aboutuscover {
    margin: 0;
    align-self: flex-start;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.aboutuscoverline {
    color: #B8692B;
    font-family: 'Pacifico', sans-serif;
    font-size: 52px;
}