
<header>
    <nav>
        <div class="navbar">
            <div class="logo">
                <img src="../../../../assets/Images/logo.jpg" alt="Sugar Spell Logo">

                <div class="logoname">Fatis</div>
            </div>




            <div class="nav-links">

                <ul class="links">
                    <li><a href="Home.html">Home</a></li>
                    <li>
                        <a href="Menu.html">Menu</a>
                        <i class='bx bxs-chevron-down Menu-arrow arrow  '></i>
                        <ul class="Menu-sub-menu sub-menu">
                            <li><a href="Menu.html">Sweets and Treats</a></li>

                            <li class="holiday">
                                <span><a href="#">Holiday Specials</a>
                                    <i class='bx bxs-chevron-right  holiday-arrow arrow'></i>
                                </span>
                                <ul class="holiday-sub-menu sub-menu">
                                    <li><a href="Christmas.html">HOLLY JOLLY! </a></li>
                                </ul>
                            </li>
                            <li class="seasons">
                                <span>
                                    <a href="Seasons.html">Offers</a>
                                </span>     
                            </li>

                            <li class="seasons">
                                <span>
                                    <a href="Seasons.html">beverage </a>
                                </span>     
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/about-us">About Us</a>

                    </li>
                    <li><a href="ContactUs.html">Contact Us</a></li>
                    <li><a href="#">Menu PDF</a></li>
                    <div class="account-box">
                        <a href="Account.html">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>

                    </div>
                </ul>
            </div>

        </div>
    </nav>
</header>
