    <div class="login">
    
       <div class="container" id="container">
           <div class="form-container sign-up">
               <form>
                   <h1 class="titles" >Create Account</h1>
                   <div class="social-icons">
                       <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                       <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                       <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                       <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                   </div>
                   <span>or use your email for registeration</span>
                   <input type="text" placeholder="Name">
                   <input type="email" placeholder="Email">
                   <input type="password" placeholder="Password">
                   <input type="phone number" placeholder="phone number">
                   <a routerLink ="/frontend/src/app/components/pages/user/home">
                        <button type="button" class="rippleBtn" id="transitionSUbtn">Sign Up</button>
                   </a>
                  
               </form>
           </div>
           <div class="form-container sign-in">
               <form>
                   <h1 class ="titles">Sign In</h1>
                   <div class="social-icons">
                       <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                       <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                       <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                       <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                   </div>
                   <span>or use your email password</span>
                   <input type="email" placeholder="Email">
                   <input type="password" placeholder="Password">
                   <a href="#">Forget Your Password?</a>
                   <a routerLink="about-us">
                       <button type="button" class="rippleBtn" id="transitionSIbtn">Sign In</button>
                   </a>
                   
               </form>
           </div>
           <div class="toggle-container">
               <div class="toggle">
                   <div class="toggle-panel toggle-left">
                       <h1 class="titles" >Register Now!</h1>
                       <p>Fill in your personal details for finding best offers</p>
                       <button class="hidden" id="login">Sign In</button>
                   </div>
                   <div class="toggle-panel toggle-right">
                       <h1 class="titles">Fati's</h1>
                       <p>Enter your personal details to start a sugar rush adventure.</p>
                       <button class="hidden" id="register">Sign Up</button>
                   </div>
               </div>
           </div>
       </div>


       
    </div>
    
