
<section class="product-section" id="category1">

    <div class="row">

        <h2>
            Cakes
        </h2>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img alt="Banana Cake" src="../../../../assets/Images/bananovy-dort.png" />
                <h2>
                    BANANA CAKE
                </h2>


            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="Berry Red Cake" src="../../../../assets/Images/berry-red-cake.png" />
                <h2>
                    BERRY RED CAKE
                </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="Blueberry Red Velvet Cake" src="../../../../assets/Images/blueberry-red-velvet-cake.png" />
                <h2>
                    BLUEBERRY RED VELVET CAKE

                </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="CARROT CAKE WITH WALNUT" src="../../../../assets/Images/carrot-cake-with-walnuts.png" />

                <h2>CARROT CAKE WITH WALNUTS</h2>

            </div>
        </div>

        <div class="col-md-3">
            <div class="product-card">
                <img alt="CHANTILLY CAKE" src="../../../../assets/Images/berry_white_cake.png" />

                <h2>CHANTILLY CAKE</h2>

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img alt="CHILL OUT CAKE" src="../../../../assets/Images/chill-out-cake.png" />
                <h2>
                    CHILL OUT CAKE
                </h2>


            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="CHOCO BLACKCURRANT CAKE" src="../../../../assets/Images/choco-blackcurrant-cake.png" />
                <h2>
                    CHOCO BLACKCURRANT CAKE </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="CHOCOLATE CAKE PRAGUE" src="../../../../assets/Images/chocolate-cake-prague.png" />
                <h2>
                    CHOCOLATE PRAGUE

                </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="CHOCOLATE FUDGE PREMIUM" src="../../../../assets/Images/chocolate_fudge_premium.png" />

                <h2>CHOCOLATE FUDGE PREMIUM</h2>

            </div>
        </div>

        <div class="col-md-3">
            <div class="product-card">
                <img alt="DUO CHOCOLATE CAKE" src="../../../../assets/Images/duo-chocolate-cake.png" />

                <h2>DUO CHOCOLATE CAKE</h2>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img alt="CHOCO BLACKCURRANT CAKE" src="../../../../assets/Images/chill-out-cake.png" />
                <h2>
                    CHILL OUT CAKE
                </h2>


            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="HAZELNUT CAKE" src="../../../../assets/Images/hazelnut_cake.png" />
                <h2>
                    HAZELNUT CAKE </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="MARCEL GATEAU CAKE" src="../../../../assets/Images/marcel-gateau-cake.png" />
                <h2>
                    MARCEL GATEAU CAKE

                </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="MATCHA TEA CAKE" src="../../../../assets/Images/matcha-tea-cake.png" />

                <h2>MATCHA TEA CAKE</h2>

            </div>
        </div>

        <div class="col-md-3">
            <div class="product-card">
                <img alt="MOROCCO" src="../../../../assets/Images/morocco.png" />

                <h2>MOROCCO</h2>

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img alt="PECAN SALTED CARAMEL TART" src="../../../../assets/Images/pekanovy-dort-se-slanym-karamelem.png" />
                <h2>
                    PECAN SALTED CARAMEL TART </h2>


            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="RED VELVET CAKE" src="../../../../assets/Images/red_velvet_cake.png" />
                <h2>
                    RED VELVET CAKE </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="ROYAL PEANUT CAKE" src="../../../../assets/Images/royal-peanut-cake.png" />
                <h2>
                    ROYAL PEANUT CAKE

                </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="SPRING DREAM CAKE" src="../../../../assets/Images/spring_dream_cake.png" />

                <h2>SPRING DREAM CAKE</h2>

            </div>
        </div>

        <div class="col-md-3">
            <div class="product-card">
                <img alt="STOCKHOLM CAKE" src="../../../../assets/Images/stockholm-cake.png" />

                <h2>STOCKHOLM CAKE</h2>

            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img alt="STRAWBERRY BAVAROIS" src="../../../../assets/Images/strawberry-bavarois.png" />
                <h2>
                    STRAWBERRY BAVAROIS </h2>


            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="STRAWBERRY RED VELVET" src="../../../../assets/Images/strawberry_red_velvet.png" />
                <h2>
                    STRAWBERRY RED VELVET </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="TOFFEE STAR CAKE" src="../../../../assets/Images/toffee_star_cake.png" />
                <h2>
                    TOFFEE STAR CAKE
                </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="TOFFEE STAR CAKE" src="../../../../assets/Images/tropicolemon_cake.png" />

                <h2>TOFFEE STAR CAKE</h2>

            </div>
        </div>

        <div class="col-md-3">
            <div class="product-card">
                <img alt="WHITE CHOCOLATE CAKE PRAGUE" src="../../../../assets/Images/white-chocolate-cake-prague.png" />

                <h2>WHITE CHOCOLATE CAKE PRAGUE</h2>

            </div>
        </div>

    </div>


</section>
