<head>
    <!-- <meta charset="UTF-8"> -->
    <title> Fatis</title>
    <link rel="icon" type="image/jpg" href="../../../../assets/Images/logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<app-header></app-header>
<app-menu-intro></app-menu-intro>
<app-category-buttons></app-category-buttons>
<app-cakes></app-cakes>
<app-gateaux></app-gateaux>
<app-vegan-cake></app-vegan-cake>
<app-footer></app-footer>
