<article class="cakemonth bigContainer">
    <div class="cakemonth Container">
        <div class="img-container">
            <img id="cakeofthemonth" class="carrotcake" src="../../../../assets/Images/carrotcake.jpg" alt="Carrot Cake">  
        </div>
        <aside class="allText aboveText">
            <p class="text-blk cakehead">
                Cake of the Month
            </p>

            <p class="text-blk poem">
                A simple carrot cake sparked a passion within,
                A tasty treat that led to a culinary win.
                With hard work and dedication, a business was born,
                Built on the love of a humble carrot cake, so adored.
                No frills or fancies, just a passion for baking,
                A business that started with a carrot cake, unfaking.
    </p>
        </aside>
    </div>
</article>
