<section class="product-section" id="category2">

    <div class="row">

        <h2>
            Gateaux
        </h2>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img alt="BLUEBERRY RED VELVET SLICE" src="../../../../assets/Images/blueberry-red-velvet-slice.png" />
                <h2>
                    BLUEBERRY RED VELVET SLICE
                </h2>


            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="BROWNIE RED BERRIES" src="../../../../assets/Images/brownie-red-berries.png" />
                <h2>
                    BROWNIE RED BERRIES </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="BROWNIE SALTED CARAMEL" src="../../../../assets/Images/brownie-salted-caramel.png" />
                <h2>
                    BROWNIE SALTED CARAMEL

                </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="BROWNIE WITH COCOA BEANS" src="../../../../assets/Images/brownie-with-cocoa-beans.png" />

                <h2>BROWNIE WITH COCOA BEANS</h2>

            </div>
        </div>

        <div class="col-md-3">
            <div class="product-card">
                <img alt="BROWNIE YUZU" src="../../../../assets/Images/brownie-yuzu.png" />

                <h2>BROWNIE YUZU</h2>

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img alt="MANGO PASSION SLICE" src="../../../../assets/Images/mango-passion-slice.png" />
                <h2>
                    MANGO PASSION SLICE
                </h2>


            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="PRAGUE SLICE" src="../../../../assets/Images/prague-slice.png" />
                <h2>
                    PRAGUE SLICE </h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img alt="STRAWBERRY BAVAROIS SLICE" src="../../../../assets/Images/strawberry-bavarois-slice.png" />
                <h2>
                    STRAWBERRY BAVAROIS SLICE
                </h2>

            </div>
        </div>

    </div>


</section>
