<section class="categorybuttons">

    <div id="OurCake" class="ourcakes">
        <h1>
            Our Cakes
        </h1>



        <div class="btn-group">
            <button class="zorar btn-primary" type="button">
                <a href="#category1">Cakes</a>
        </button>
            <button class="zorar btn-primary" type="button">
            <a href="#category2">Gateaux</a>
    </button>
            <button class="zorar btn-primary" type="button">
        <a href="#category3">Vegan Cakes</a>
</button>
        </div>
    </div>
</section>