<section class="start">

    <section id="aboutpagee" class="product-section">

        <div class="row">
            <h1 id="aboutt">
                Our Day
            </h1>



        </div>

        <p class="joke">
            We start baking at 4 a.m., and by the time the rest of the world is waking up, we've already finished yesterday's batch! Here's how we do it...
        </p>
    </section>


    <video id="home" controls autoplay>
        <source src="../../../../assets/videos/About us intro.mp4 " type="video/mp4">
        Your browser does not support the video tag. 
    </video>

</section>
