<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<footer>
    <div class="logo">
      <img src="../../../../assets/Images/logo.jpg" alt="Fatis">
        <div class="socialmedia">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-youtube"></i></a>
        </div>
    </div>
  
    <div class="column">
        <h2>About</h2>
        <p><a href="aboutus.html">About Us</a></p>
        <p>FAQ</p>
        <p>Contact Us</p>
        <p>Disclosure Policy</p>    
    </div>
  
    <div class="column">
        <h2>Help and Support</h2>
        <p>Refunds</p>
        <p>Privacy Policy</p>
        <p>Terms of Use</p>
        <p>Cookie Policy</p>
  
    </div>
  
    <div class="column">
        <h2>Explore Our Site</h2>
        <p><a href="index.html">Home</a></p>
        <p><a href="available.html">Movies</a></p>
        <p><a href="aboutus.html">About Us</a></p>
        <p><a href="events.html">Events</a></p>
        <p><a href="login.html">Login</a></p> 
    </div>
    <p class="rights-reserved">&copy; 2023 FATIS. All rights reserved.</p>
  </footer>

