
.contactUs {
    background: linear-gradient(90deg, #1d1f32, #488686, #cee5e5, #D0DDE6);
    position: relative;
    padding: 40px 100px;
    width: 100;
    font-family: 'Poppins', sans-serif;
    padding: 90px;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2 {
    color: #B06161;
    font-weight: bolder;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    background: white;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: #27374D;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.inputBox input {
    border: 1px solid gray;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
}

.inputBox input[type="submit"] {
    background-color: #488686;
    color: white;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox textarea {
    border: 1px solid gray;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox label {
    color: #D27685;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox ::placeholder {
    color: #488686;
}

.info {
    background-color: #27374D;
}

.info h3 {
    color: white;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: white;
    background: #D27685;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: white;
    font-size: 1.1em;
}

.info .infoBox div a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: gray;
    font-size: 2.5em;
}

.sci li a:hover {
    color: white;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}