<section class="contactss">
    <div class="contactUs">
        <div class="title">


            <h2>Get in Touch</h2>
        </div>

        <div class="box">
            <!-- Form-->
            <div class="contact form">
                <h3>Send a Message</h3>


                <form id="contactForm">
                    <div class="formBox">
                        <div class="row50">
                            <div class="inputBox">
                                <label for="fname">First Name</label>
                                <input type="text" placeholder="John" required>
                            </div>
                            <div class="inputBox">
                                <label for="lname">Last Name</label>
                                <input type="text" placeholder="Doe" required>
                            </div>
                        </div>
                        <div class="row50">
                            <div class="inputBox">
                                <label for="email">Email Address</label>
                                <input type="text" placeholder="johndoe@gmail.com" required>
                            </div>
                            <div class="inputBox">
                                <label for="mobile">Mobile</label>
                                <input type="text" placeholder="+20-1x-xxxx-xxxx">
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <label for="message">Message</label>
                                <textarea placeholder="Write your message here..." required></textarea>
                            </div>
                        </div>


                        <div class="row100">
                            <div class="inputBox">

                                <input type="submit" value="Send" id="displayButton" onclick="handleClick()">
                            </div>
                        </div>



                    </div>
                </form>
            </div>



            <!--info box-->

            <div class="contact info">
                <h3>Contact Info</h3>
                <div class="infoBox">
                    <div>
                        <span class="contacticons"><i name="location" class="fa fa-location-arrow" aria-hidden="true"></i>
                    </span>
                        <p>Rehab City, New Cairo <br> EGYPT</p>
                    </div>

                    <div>
                        <span class="contacticons"><i name="mail" class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                        <!-- <a href="mailto:fatis@gmail.com">info@fatis.com</a> -->
                    </div>

                    <div>
                        <span class="contacticons"><i name="call" class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                        <a href="tel:01203633253">+20-12-0363-3253</a>
                    </div>
                    <ul class="sci">
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook-circle'></i>

                            </a>
                        </li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i></a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-linkedin-square'></i>
                            </a>
                        </li>

                    </ul>

                </div>


            </div>

            <!--Map-->
            <div class="contact map">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13812.028800199192!2d31.488248700000003!3d30.065328100000013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145818622b69fe41%3A0x35885a80663b25ee!2sAl%20Rehab%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1701584454879!5m2!1sen!2seg"
                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>


    </div>

</section>


